body {
    height: 100%;
    background-color: #212529;
}

.main-container {
    height: 100%;
}

.section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #36454F;
    color: white;
}


.sidebar a:hover:not(.active) {
    background-color: #36454F;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


.ts-wrapper .option, .ts-wrapper .title {
    font-size: 16px;
    display: block;
    color: black;
}

.ts-wrapper.single .ts-control, .ts-wrapper.single .ts-control input {
    font-size: 16px;
}